<div class="container">

  <div class="">
      <label for="">Delete all events on:</label>
      <mat-form-field>
        <input [(ngModel)]="deleteDate" matInput [owlDateTime]="ddt" [owlDateTimeTrigger]="ddt">
        <owl-date-time #ddt [pickerType]="'calendar'"></owl-date-time>  
      </mat-form-field>
      <button (click)="deleteEventsOnDate()" mat-flat-button color="warn" mat-button>Delete All Events</button>
  </div>

  <full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
      }"
      [columnHeaderFormat]="{ weekday: 'long' }"
      [fixedWeekCount]="false"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      (eventClick)="eventClicked($event)"
    ></full-calendar>
</div>